.nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    align-items: center;
    
    
}

.nav li {
    padding: 0.5rem;
    padding-left: 2rem;
    
}

a {
    color: black;
    text-decoration: none;
}



.nav{
    display: flex;
    justify-content: space-between;
}

#navbarNavDropdown {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    align-items: center;
}

.nav-item{
        padding: 0.5rem;
        padding-left: 2rem;
}

.navbar-brand{
    height: 90px;
   
}

.nav-item.checkout li{
    align-items: center;
    color: green;
    list-style-type: none;
}

.swiper {
    width: 100%;
    height: 80vh;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
   
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.telefoni{
    position: absolute;
    font-size: 6rem;
    color: white;
    font-weight: bold;

}

.computer{
    position: absolute;
    font-size: 6rem;
    color: white;
    font-weight: bold;
    width: 500PX;
    right: 15rem;
    top: 2rem;
}

.sconto{
    position: absolute;
    
    width: 1000px !important;
    left: 2px;
    
}

.prova{
    position: absolute;
    width: 30%;
    height: 600px;
    left: 0px;
}

.prova img{
    position: absolute;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    left: 3rem;
    bottom: 2rem;
}

.homedecorations{
    position: absolute;
    font-size: 6rem;
    color: white;
    font-weight: bold;
    width: 700PX;
    left: 1rem;
    top: 1rem;
}









