:root {
    --headerColor: #116cad;
    --secondaryColor: #ec721f;
}

.telefoni,
.computer,
.homedecorations {
    font-family: "Modak", system-ui;
    font-weight: 400;
    font-style: normal;
    color: transparent;
    -webkit-text-stroke: 2px black;
}

.nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    align-items: center;


}

.nav li {
    padding: 0.5rem;
    padding-left: 2rem;

}

a {
    color: black;
    text-decoration: none;
}



.nav {
    display: flex;
    justify-content: space-between;
}



.nav-item {
    padding: 0.5rem;
    padding-left: 2rem;
}

.navbar-brand {
    height: 90px;

}

.nav-item.checkout li {
    align-items: center;
    color: green;
    list-style-type: none;
}

.swiper {
    width: 100%;

}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px !important;

}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.telefoni {
    position: absolute;
    font-size: 6rem;
    color: white;
    font-weight: bold;
}

.computer {
    position: absolute;
    font-size: 6rem;
    color: white;
    font-weight: bold;
    width: 500PX;
    right: 15rem;
    top: 2rem;
}

.sconto {
    position: absolute;
    width: 1000px !important;
    left: 2px;
}

.imgSconto {
    position: absolute;
    width: 400px;
    height: 400px;
    left: 5rem;
    bottom: 0px;
}

.imgSconto img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.homedecorations {
    position: absolute;
    font-size: 6rem;
    color: white;
    font-weight: bold;
    width: 700PX;
    left: 1rem;
    top: 1rem;


}

.row {
    --bs-gutter-x: 0rem;
}



.container-rb {
    width: 80%;
    margin: 0 auto;
}

.cards {
    height: 40rem;

}

.titoloUltimi {
    text-align: center;
    margin-top: 5rem;
    font-size: 3rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.scritte {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #faf8f5;
}

.scritte h2 {
    font-size: 4rem;
}

.scritte p {
    width: 20rem;
    font-size: 1.5rem;
}

.scritte p:last-child {
    font-size: 1.3rem;
    letter-spacing: 3px;
}

.footer {
    border-bottom: 0.1rem solid black;
}

.immagine {
    padding-bottom: 5rem;
}

.navbar {
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    position: fixed;
    padding: 0rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 20px -20px;
}

.bi-bag-check {
    color: rgb(0, 0, 0);
    font-size: 2rem;

}

.mt-10 {
    /* margin-top: 0px; */
}

.activeMenu {
    color: var(--secondaryColor) !important;
}


.immagine .row .col-6 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}




.swiper-slide .card {
    width: 300px;
}

.swiper-slide .card .image {
    height: 250px;
}

.background {
    width: 200%;
}


/* COLORI MAIN SLIDER */
.rosso {
    background-color: #9c0a0a;
}

.verde {
    background-color: #1d372a;
}

.chiaro {
    background-color: #19191b;
}

.viola {
    background-color: #aa43c8;
}

.grigio {
    background-color: #3b3b3b;
}

.container-mdf {
    max-width: 1320px;
    margin: 0 auto;
    height: 600px;
}

/*</COLORI MAIN SLIDER> */

.navbar-collapse {
    justify-content: center;
}

.card {
    width: 300px;
    margin: 2rem;
    overflow: hidden;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card .image {
    height: 250px;
}

.card img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#containerProdotti {
    justify-content: center;

}

.wrappando {
    min-height: 1000px;
}

.mySwiper2 {

    height: 600px !important;
}

.prodottoCarrello {
    margin-bottom: 20px;
    border-bottom: 2px solid rgba(94, 92, 92, 0.392);
    padding: 0.5rem;
}


.new {
    top: 10px;
    background-color: rgb(255, 104, 58);
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 0px 10px 10px 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.alto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
}

.alto li {
    list-style: none;
}

.noProducts {
    margin-top: 20px !important;
    height: 200px;
    background-color: rgb(168, 158, 158);
    border-radius: 20px;
}

.noProducts p {
    font-size: 3.5rem;
    text-align: center;
    line-height: 200px;
    color: white;
}

.Prova2 {
    /* height: 100% !important;
    width: 100% !important; */
}

.Prova2 img {
    /* height: 100%;
    width: 100%; */
    object-fit: cover;
}

.swiper.mySwiper.mt-10 {
    margin-top: 7.5rem;
}

/* HEADER */
.header .container-fluid {
    background-color: var(--headerColor);
    color: white;
}

.nav-link {
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: bold;
}

.nav-link:hover {
    color: var(--secondaryColor);
}

.navbar-brand img {
    width: 150px;
}