.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.sconto {
    position: absolute;
    width: 1000px !important;
    left: 2px;

}

.prova {
    position: absolute;
    width: 400px;
    height: 400px;
    left: 5rem;
    bottom: 0px;
}

.prova img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;


}

.homedecorations {
    position: absolute;
    font-size: 6rem;
    color: white;
    font-weight: bold;
    width: 700PX;
    left: 1rem;
    top: 1rem;


}

.row {
    --bs-gutter-x: 0rem;
}



.container-rb {
    width: 80%;
    margin: 0 auto;
}

.cards {
    height: 40rem;
}

.titoloUltimi {
    text-align: center;
    margin-top: 5rem;
    font-size: 3rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.scritte {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #faf8f5;


}

.scritte h2 {
    font-size: 4rem;
}

.scritte p {
    width: 20rem;
    font-size: 1.5rem;
}

.scritte p:last-child {
    font-size: 1.3rem;
    letter-spacing: 3px;
}

.footer {
    background-color: grey;
    padding-top: 2.5rem;
    border-bottom: 0.1rem solid black;
}

.immagine {
    padding-bottom: 5rem;
}


/* -------------------------PRODOTTI---------------------- */
.card.prodotti {
    margin-top: 2rem;
    width: calc(100%/3);
    padding: 3rem;
    border: none;
}

.immagine2 {
    border: 1px solid rgba(0, 0, 0, 0.175);

}

.card-body h5 {
    text-align: left;
}



.navbar {
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    position: fixed;
}

.prodottiNostri {
    margin-top: 10rem;
}

.filtri .nav-link {
    background-color: rgba(166, 159, 159, 0.277);
}

.voto {
    margin-left: 4px;
}

.stellePiene,
.stelleVuote {
    color: rgb(255, 104, 58);
}

.box-voto {
    font-size: 13px;
}

.w-90 {
    width: 90%;
}

.orange {
    color: #ff7a01;
  }
  
  .form-container {
    max-width: 700px;
    background-color: #222222;
    padding: 30px;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%);
    margin-top: 20rem;
    margin-bottom: 16.5rem;
  }
  
  .heading {
    display: block;
    color: white;
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 20px;
  }
  
  .form-container .form .input {
    color: #000000;
    width: 100%;
    background-color: #ffffff;
    border: none;
    outline: none;
    padding: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    border-left: 1px solid transparent;
  }
  
  .form-container .form .input:focus {
    border-left: 5px solid #01d9ff;
  }
  
  .form-container .form .textarea {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background-color: #ffffff;
    color: #000000;
    font-weight: bold;
    resize: none;
    max-height: 150px;
    margin-bottom: 20px;
    border-left: 1px solid transparent;
    transition: all 0.2s ease-in-out;
  }
  
  .form-container .form .textarea:focus {
    border-left: 5px solid #01d9ff;
  }
  
  .form-container .form .button-container {
    display: flex;
    gap: 10px;
  }
  
  .form-container .form .button-container .send-button {
    flex-basis: 70%;
    background: #01d9ff ;
    padding: 10px;
    color: #000000;
    text-align: center;
    font-weight: bold;
    border: 1px solid transparent;
    transition: all 0.2s ease-in-out;
  }

  .send-button:hover{
    cursor: pointer;
  }

  .reset-button:hover{
    cursor: pointer;
  }
  
  .form-container .form .button-container .send-button:hover {
    background: transparent;
    border: 1px solid #01d9ff;
    color: #01d9ff;
  }
  
  .form-container .form .button-container .reset-button-container {
    filter: drop-shadow(1px 1px 0px #ff7a01);
    flex-basis: 30%;
  }
  
  .form-container .form .button-container .reset-button-container .reset-button {
    position: relative;
    text-align: center;
    padding: 10px;
    color: #ffffff;
    font-weight: bold;
    background: #a32828;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
    transition: all 0.2s ease-in-out;
  }
  
  .form-container .form .button-container .reset-button-container .reset-button:hover {
    background: #ff0101;
    color: #001925;
  }

  
    
    .cerchietto{
        font-size: 1.5rem;
        text-align: center;
        line-height: 30px;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        line-height: 48px;
        top: 38px;
        color: rgb(255, 104, 58);
        
        
  }

  .bi.bi-bag{
    font-size: 3rem;
    color: #000000;
  }

  .Javas{
    margin-top: 10rem;

  }

  .container.Java{
    min-height: 56rem;
  }

  .container.tracciaPacco{
    min-height: 65.5rem;
    border: 2px solid rgb(0, 0, 0);
    width: 90%;
    height: 100%;
  }

  .tracciaPacco{
    height: 100rem;
    width: 50rem;
  }

  .informazioni{
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
  }

  .progress{
    height: 2rem;
  }

  .ordinato{
    color: white;
    border: 1px solid #198754;
    width: 20%;
    background-color: #198754;
  }

  .spedito{
    color: rgb(0, 0, 0);
    border: 1px solid rgb(9, 215, 222);
    width: 45%;
    background-color: #0dcaf0;
  }

  .consegna  {
    color: rgb(0, 0, 0);
    border: 1px solid #ffc107;
    width: 60%;
    background-color: #ffc107;
  }

  .consegnato{
    color: white;
    border: 1px solid #dc3545;
    width: 30%;
    background-color: #dc3545;
  }

  .top{
    margin-top: 8rem;
  }

  .dettaglione{
    display: flex;
  }

 